@use "partial";
@use "mixin";


.index-start-container {
    position: relative;
    img {
        width: 100%;
    }
}

.text-above-image {
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    .button-tilmeld {
        display: flex;
        justify-content: center;
    }

    @include mixin.respond-to("mobile") {
        top: 40%;
    }
}



.passion {
    background-color: partial.$blue-color-light;
    padding: 4em 3em;
    p {
        color: partial.$blue-color-dark;
    }
}

.read-more-container {
    background-color: partial.$blue-color-dark;
    display: grid; 
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    @include mixin.respond-to("mobile") {
        padding-bottom: 3em;
    }


    @include mixin.respond-to("mobile") {
        display: flex;
        flex-direction: column;
    }

    .icon-common {
        align-self: center;
        justify-self: end;
        padding: 1.5em 3em;
        @include mixin.respond-to("mobile") {
           padding-bottom: 0;
        }
    }

    .icon-dog {
        grid-column-start: 1;
    }

    .link-text-common {
        color: partial.$blue-color-light;
        align-self: center;
        padding: 1em;
        @include mixin.respond-to("mobile") {
            padding: 0.3em 3em;
        }
    }
    .training-link-text {
        grid-column-start: 2;
    }

    .health-link-text {
        @include mixin.respond-to("mobile") {
            padding-top: 0;
            margin-top: 1px;
        }
    }

    .icon-bowl {
        grid-row-start: 2;
        grid-column-start: 1;
        @include mixin.respond-to("mobile") {
            padding-top: 5em;
        }
    }

    .cta-container {
        grid-column-start: 3;
        align-self: center;
        justify-self: left;
        padding: 0 2em;
    }
}